<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/app.css">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/app.js"></script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<img src="image/タイトル.jpg" width="500" height="50">
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/registrate/}">タスク登録</a></li>
					<li><a href="#">検索</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item"><a class="nav-link active" id="tab1-tab"
				data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1"
				aria-selected="true">タスク一覧</a></li>
			<li class="nav-item"><a class="nav-link" id="tab2-tab"
				data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2"
				aria-selected="false">受領中</a></li>
			<li class="nav-item"><a class="nav-link" id="tab3-tab"
				data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3"
				aria-selected="false">依頼中</a></li>
			<li class="nav-item"><a class="nav-link" id="tab4-tab"
				data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4"
				aria-selected="false">オススメ</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab1" role="tabpanel"
				aria-labelledby="tab1-tab">
				<form th:object="${task}" action="#" th:action="@{/receipt}"
					method="post">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Title</th>
								<th scope="col">Category</th>
								<th scope="col">State</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="task : ${taskList}">
								<td th:text="${task.id}"></td>
								<td th:text="${task.title}"></td>
								<td th:text="${task.category}"></td>
								<td data-sample="${task.id}" data-toggle="modal"
									data-target="#detailModal" th:text="${task.state.name}"></td>
							</tr>
						</tbody>
					</table>
					<div class="modal fade" id="detailModal" tabindex="-1"
						role="dialog" aria-labelledby="modal" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title"></h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<span>詳細</span>
								</div>
								<div class="modal-footer">
									<input type="submit" class="btn btn-primary" name="receipt"
										value="引き受ける" />
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="tab-pane fade" id="tab2" role="tabpanel"
				aria-labelledby="tab2-tab">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Title</th>
							<th scope="col">Category</th>
							<th scope="col">State</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="task : ${receiptTaskList}">
							<td th:text="${task.id}"></td>
							<td th:text="${task.title}"></td>
							<td th:text="${task.category}"></td>
							<td><a th:href="@{'/evaluation/' + ${task.id}}">評価する</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="tab-pane fade" id="tab3" role="tabpanel"
				aria-labelledby="tab3-tab">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Title</th>
							<th scope="col">Category</th>
							<th scope="col">State</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="task : ${requestTaskList}">
							<td th:text="${task.id}"></td>
							<td th:text="${task.title}"></td>
							<td th:text="${task.category}"></td>
							<td th:text="${task.state.name}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="tab-pane fade" id="tab4" role="tabpanel"
				aria-labelledby="tab4-tab">...</div>
		</div>
	</div>
</body>
</html>