<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/app.css" rel="stylesheet">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<img src="image/タイトル.jpg" width="500" height="50">
			</div>
		</div>
	</nav>
	<div class="container">
		<label class="control-label">5段階評価結果</label>
		<p th:text="${radio_message}"></p>
		<label class="control-label">テキスト感情分析結果</label>
		<p th:text="${text_message}"></p>
		<label class="control-label">画像感情分析結果</label>
		<p th:text="${image_message}"></p>
		<br>
		<img th:src="${image_path}"  width="500" height="500" style="transform: rotate(-270deg)"/>
		<br>
		<form action="/index">
			<button class="btn btn-default">タスクボードへ</button>
		</form>
	</div>
</body>
</html>