.demo-card-wide.mdl-card {
	width: 512px;
}

.demo-card-wide>.mdl-card__menu {
	color: #fff;
}
.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type
	{
	padding-right: 0;
}

.jumbotron {
	padding-top: 0px;
	background: url(../image/board.png);
	background-size: cover;
	background-position: 50% 50%;
	height: 1000px;
}
