<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<img th:src="@{/image/タイトル.jpg}" width="500" height="50">
			</div>
		</div>
	</nav>
	<div class="container">
		<form id="formCamera" class="form-horizontal" th:object="${evaluationForm}"
			action="/evaluation" th:action="@{/evaluation}" method="post" enctype="multipart/form-data">
			<input type="hidden" name="id" th:value="${id}" />
			<div class="form-group">
				<label class="control-label" th:text="${evaluationForm.title}"></label>
			</div>
			<div>
				<label class="control-label">5段階で評価してください。</label><br> <input
					type="radio" name="hyouka" value="veryGood" checked="checked">とてもよかったです。<br>
				<input type="radio" name="hyouka" value="good">よかったです。<br>
				<input type="radio" name="hyouka" value="normal">普通です。<br>
				<input type="radio" name="hyouka" value="bad">悪かったです。<br>
				<input type="radio" name="hyouka" value="veryBad">とても悪かったです。<br>
			</div>
			<br>
			<div>
				<label class="control-label">評価を記載してください。</label>
				<textarea class="form-control" name="evaluation"
					th:value="${evaluation}" placeholder="ソースコードのレビューをお願いします。"></textarea>
			</div>
			<br>
			<button class="btn btn-default">評価</button>
			<br>
		</form>
		<button onclick="snapshot()">写真撮影！</button>
		<video autoplay width="480" height="400"></video>
	</div>
	<script src="js/start.js" th:src="@{/js/start.js}"></script>
	<script src="js/stop.js"  th:src="@{/js/stop.js}"></script>
	<script src="js/snapshot.js" th:src="@{/js/snapshot.js}"></script>
</body>
</html>