<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<link rel="stylesheet" href="app.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<body>
	<!-- Uses a header that contracts as the page scrolls down. -->
	<div class="demo-layout-waterfall mdl-layout mdl-js-layout">
		<header class="mdl-layout__header mdl-layout__header--waterfall">
			<!-- Top row, always visible -->
			<div class="mdl-layout__header-row">
				<!-- Title -->
				<span class="mdl-layout-title">MUIT マッチンGood!!!</span>
				<div class="mdl-layout-spacer"></div>
				<div
					class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
					<label class="mdl-button mdl-js-button mdl-button--icon"
						for="waterfall-exp"> <i class="material-icons">search</i>
					</label>
					<div class="mdl-textfield__expandable-holder">
						<input class="mdl-textfield__input" type="text" name="sample"
							id="waterfall-exp">
					</div>
				</div>
			</div>
			<!-- Bottom row, not visible on scroll -->
			<div class="mdl-layout__header-row">
				<div class="mdl-layout-spacer"></div>
				<!-- Navigation -->
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link" href="/registrate"
						th:href="@{/registrate}">タスク登録</a>
				</nav>
			</div>
		</header>
		<div class="mdl-grid">
			<div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell">
				<div class="mdl-card__title">
					<h2 class="mdl-card__title-text">Welcome</h2>
				</div>
				<div class="mdl-card__supporting-text">Lorem ipsum dolor sit
					amet, consectetur adipiscing elit. Mauris sagittis pellentesque
					lacus eleifend lacinia...</div>
			</div>
			<div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell">
				<div class="mdl-card__title">
					<h2 class="mdl-card__title-text">Welcome</h2>
				</div>
				<div class="mdl-card__supporting-text">Lorem ipsum dolor sit
					amet, consectetur adipiscing elit. Mauris sagittis pellentesque
					lacus eleifend lacinia...</div>
			</div>
			<div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell">
				<div class="mdl-card__title">
					<h2 class="mdl-card__title-text">Welcome</h2>
				</div>
				<div class="mdl-card__supporting-text">Lorem ipsum dolor sit
					amet, consectetur adipiscing elit. Mauris sagittis pellentesque
					lacus eleifend lacinia...</div>
			</div>
		</div>
	</div>
</body>
</html>